html, body{
    background: rgb(35,33,45);
    background: radial-gradient(circle, rgba(35,33,45,1) 0%, rgba(16,16,27,1) 100%);
}

.bg-lightGreen{
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    background: rgb(89, 22, 116);
    box-shadow: 2px 4px 25px rgb(176, 1, 245);
}

.info{
    font-size: 120%;
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: white; 
}

.disable-selection {
    -webkit-touch-callout: none; /* iOS Safari                           */
      -webkit-user-select: none; /* Safari                               */
       -khtml-user-select: none; /* Konqueror HTML                       */
         -moz-user-select: none; /* Firefox w przeszłości (stare wersje) */
          -ms-user-select: none; /* Internet Explorer (>=10) / Edge      */
              user-select: none; /* Aktualnie wspierane przez:           */
                                 /* Chrome, Opera and Firefox            */
}
